<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
	<Properties>
		<Property name="patternfull">
			%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
		</Property>
		<Property name="patternshort">
			%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
		</Property>
		<Property name="patternio">
			%d{HH:mm:ss.SSS}: %msg%n
		</Property>
	</Properties>
	<Appenders>
		<File name="TxtFileController" fileName="logs/controller.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="TxtFileDao" fileName="logs/dao.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="TxtFileIn" fileName="logs/input.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="TxtFileGenerator" fileName="logs/generator.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="TxtFileActions" fileName="logs/actions.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<File name="TxtFileView" fileName="logs/view.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${patternshort}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="off">
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="by.training.task04.controller.Controller" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileController" />
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="by.training.task04.dal.ClientDaoImpl" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileDao" />
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="by.training.task04.service.impl.ClientGeneratorImpl" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileGenerator" />
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="by.training.task04.service.impl.ClientGenerateToFileImpl" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileGenerator" />
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="by.training.task04.dal.InputFromFileIml" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileIn" />
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="by.training.task04.service.impl.ClientsInMemoryActionsImpl" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileActions" />
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="by.training.task04.view.ClientsViewImpl" level="off"
				additivity="false">
			<AppenderRef ref="TxtFileView" />
			<AppenderRef ref="Console"/>
		</Logger>
	</Loggers>
</Configuration>
